*{
    padding: 0;
    margin: 0;
    font-family: Arial, serif;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    margin-top: 30px;
    width: 80%;
}

